<?xml version="1.0" encoding="UTF-8"?>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Это вставляется исходя из манифетса -->
    <script type="text/javascript" src="suggestion-list-view.js"></script>

    <!-- Это вставляется исходя из манифетса -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,600&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="suggestion-list-view.css">
  </head>
  <body>
    <div id="root"></div> <!-- Этот div предоставляют партнеры-->
  </body>
</html>
