<?xml version="1.0" encoding="UTF-8"?>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mint Whale</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600&subset=latin,cyrillic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="evo-font.css">
	<link rel="stylesheet" href="mint-whale-blank.css">
</head>
<body>

	<div class="container">
		<div class="icon"><img src="logo-1.png" alt="Mint Whale"></div>
		<ul class="list-checked green">
			<li>Умная система поможет продавцам в продажах</li>
			<li>Сложная настройка не нужна - просто предложите товары, которые появятся в подсказке</li>
			<li>Учитывает уникальные особенности продаж в каждом конкретном магазине</li>
		</ul>
	</div>
</body>
</html>